google-cloud-alloydb-connector[asyncpg]==1.1.0
langchain-core==0.1.43
langchain-community==0.0.33
numpy==1.24.4; python_version<='3.8'
numpy==1.26.4; python_version>'3.8'
pgvector==0.2.5
SQLAlchemy==2.0.29
