google-cloud-alloydb-connector[asyncpg]==1.1.1
langchain-core==0.1.52
langchain-community==0.0.38
numpy===1.24.4; python_version <= "3.8"
numpy==1.26.4; python_version > "3.8"
pgvector==0.2.5
SQLAlchemy[asyncio]==2.0.30
